# Python
.venv/
__pycache__/
*.pyc

.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# packages and build files
*.egg-info/

# working temp files
/temp/*
/gamelog/latest.json
/gamelog/rec/*.json
jev.py